.questCard {
    width: 320px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #542300;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
}

.top {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    background: #fddf9c;
}

.title {
    flex-grow: 1;
    font-size: 1.2rem;
}

.numberInput {
    width: 60px;
    padding: 4px;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.max {
    font-size: 1rem;
    color: #555;
}

.content {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    background: #fce9c2;
    padding: 4px;
}

.reward {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    padding: 4px;
}

.small {
    position: absolute;
    font-size: 0.7rem;
    border-radius: 4px;
    user-select: none;
}

.above {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    color: #542300;
}

.cornerRight {
    bottom: 0;
    right: 2px;
    color: darkred;
    padding: 0 3px;
    background: #fffa;
}

.optionalCheckboxWrapper {
    margin-top: 14px;
    text-align: right;
}

.checkboxLabel {
    font-size: 0.9rem;
    color: #444;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.checkboxInput {
    cursor: pointer;
}
